<!DOCTYPE html>
<html lang="zh-cmn-Hans" class="">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw" />
    <title>
  
  豆瓣最受欢迎的书评
</title>
    
  <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE" />
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
  
  
  <meta name="keywords" content="书评,热门书评,最新书评"/>
  <meta name="description" content="豆瓣最受欢迎的书评,发表你的书评"/>
  <link rel="alternate" href="/feed/review/best" type="application/rss+xml" title="RSS">

  <link href="https://img3.doubanio.com/f/shire/bf61b1fa02f564a4a8f809da7c7179b883a56146/css/douban.css" rel="stylesheet" type="text/css">
  <link href="https://img3.doubanio.com/f/shire/ae3f5a3e3085968370b1fc63afcecb22d3284848/css/separation/_all.css" rel="stylesheet" type="text/css">
  <link href="https://img3.doubanio.com/f/zerkalo/4b7b75331a86c9c8275ac6b7306e820fc072e09a/css/init.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://img3.doubanio.com/misc/mixed_static/e3f4e21541fe4b2.css">
  <style type="text/css"></style>

  <script type="text/javascript">var _head_start = new Date();</script>
  <script type="text/javascript" src="https://img3.doubanio.com/f/shire/7cdd59e1378f9ccea648a083fecf12d71ed66c2b/js/jquery-1.8.3.js"></script>
  <script type="text/javascript" src="https://img3.doubanio.com/f/shire/77323ae72a612bba8b65f845491513ff3329b1bb/js/do.js" data-cfg-autoload="false"></script>

  <script type="text/javascript" src="https://img3.doubanio.com/f/shire/934bebbde923a3da54c32aac739dcd15ffac55da/js/douban.js"></script>
  <script type="text/javascript" src="https://img3.doubanio.com/f/shire/afb2e24c7be373fa64d49d28de42719ec2262e1c/js/lib/moreurl.js"></script>
  <script type="text/javascript" src="https://img3.doubanio.com/f/zerkalo/faf4e3047552fe4c8a20b9a9dafab7088b4f71c3/dist/js/base.js"></script>
  <script type="text/javascript" src="https://img3.doubanio.com/f/shire/0efdc63b77f895eaf85281fb0e44d435c6239a3f/js/separation/_all.js"></script>
  

  <script type="text/javascript"></script>

    <link rel="shortcut icon" href="https://img3.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
  
  <script type="text/javascript">var _body_start = new Date();</script>

  

    



    <link href="//img3.doubanio.com/dae/accounts/resources/0246c88/shire/bundle.css" rel="stylesheet" type="text/css">



<div id="db-global-nav" class="global-nav">
  <div class="bd">
    
<div class="top-nav-info">
  <a href="https://accounts.douban.com/passport/login?source=main" class="nav-login" rel="nofollow">登录/注册</a>
</div>


    <div class="top-nav-doubanapp">
  <a href="https://www.douban.com/doubanapp/app?channel=top-nav" class="lnk-doubanapp">下载豆瓣客户端</a>
  <div id="doubanapp-tip">
    <a href="https://www.douban.com/doubanapp/app?channel=qipao" class="tip-link">豆瓣 <span class="version">6.0</span> 全新发布</a>
    <a href="javascript: void 0;" class="tip-close">×</a>
  </div>
  <div id="top-nav-appintro" class="more-items">
    <p class="appintro-title">豆瓣</p>
    <p class="qrcode">扫码直接下载</p>
    <div class="download">
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=iOS">iPhone</a>
      <span>·</span>
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=Android" class="download-android">Android</a>
    </div>
  </div>
</div>

    


<div class="global-nav-items">
  <ul>
    <li class="on">
      <a href="https://www.douban.com"  data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-main&quot;,&quot;uid&quot;:&quot;0&quot;}">豆瓣</a>
    </li>
    <li class="">
      <a href="https://book.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-book&quot;,&quot;uid&quot;:&quot;0&quot;}">读书</a>
    </li>
    <li class="">
      <a href="https://movie.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-movie&quot;,&quot;uid&quot;:&quot;0&quot;}">电影</a>
    </li>
    <li class="">
      <a href="https://music.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-music&quot;,&quot;uid&quot;:&quot;0&quot;}">音乐</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/location" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-location&quot;,&quot;uid&quot;:&quot;0&quot;}">同城</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/group" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-group&quot;,&quot;uid&quot;:&quot;0&quot;}">小组</a>
    </li>
    <li class="">
      <a href="https://read.douban.com&#47;?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-read&quot;,&quot;uid&quot;:&quot;0&quot;}">阅读</a>
    </li>
    <li class="">
      <a href="https://douban.fm&#47;?from_=shire_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-fm&quot;,&quot;uid&quot;:&quot;0&quot;}">FM</a>
    </li>
    <li class="">
      <a href="https://time.douban.com&#47;?dt_time_source=douban-web_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-time&quot;,&quot;uid&quot;:&quot;0&quot;}">时间</a>
    </li>
    <li class="">
      <a href="https://market.douban.com&#47;?utm_campaign=douban_top_nav&amp;utm_source=douban&amp;utm_medium=pc_web" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-market&quot;,&quot;uid&quot;:&quot;0&quot;}">豆品</a>
    </li>
    <li>
      <a href="#more" class="bn-more"><span>更多</span></a>
      <div class="more-items">
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <a href="https://ypy.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-ypy&quot;,&quot;uid&quot;:&quot;0&quot;}">豆瓣摄影</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>

  </div>
</div>
<script>
  ;window._GLOBAL_NAV = {
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/0246c88/shire/bundle.js" defer="defer"></script>





      



    <link href="//img3.doubanio.com/dae/accounts/resources/0246c88/book/bundle.css" rel="stylesheet" type="text/css">




<div id="db-nav-book" class="nav">
  <div class="nav-wrap">
  <div class="nav-primary">
    <div class="nav-logo">
      <a href="https:&#47;&#47;book.douban.com">豆瓣读书</a>
    </div>
    <div class="nav-search">
      <form action="https:&#47;&#47;book.douban.com/subject_search" method="get">
        <fieldset>
          <legend>搜索：</legend>
          <label for="inp-query">
          </label>
          <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" placeholder="书名、作者、ISBN" value=""></div>
          <div class="inp-btn"><input type="submit" value="搜索"></div>
          <input type="hidden" name="cat" value="1001" />
        </fieldset>
      </form>
    </div>
  </div>
  </div>
  <div class="nav-secondary">
    

<div class="nav-items">
  <ul>
    <li    ><a href="https://book.douban.com/cart/"
     >购书单</a>
    </li>
    <li    ><a href="https://read.douban.com/ebooks/?dcs=book-nav&dcm=douban"
            target="_blank"
     >电子图书</a>
    </li>
    <li    ><a href="https://market.douban.com/book?utm_campaign=book_nav_freyr&utm_source=douban&utm_medium=pc_web"
     >豆瓣书店</a>
    </li>
    <li    ><a href="https://book.douban.com/annual/2018?source=navigation"
            target="_blank"
     >2018年度榜单</a>
    </li>
    <li    ><a href="https://www.douban.com/standbyme/2018?source=navigation"
            target="_blank"
     >2018书影音报告</a>
    </li>
    <li          class=" book-cart"
    ><a href="https://market.douban.com/cart/?biz_type=book&utm_campaign=book_nav_cart&utm_source=douban&utm_medium=pc_web"
            target="_blank"
     >购物车</a>
    </li>
  </ul>
</div>

    <a href="https://book.douban.com/annual/2018?source=book_navigation" class="bookannual2018"></a>
  </div>
</div>

<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'book_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= pic}}" width="40" />
            <div>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                <p>
                {{if type == "b"}}
                    {{= author_name}}
                {{else type == "a" }}
                    {{if en_name}}
                        {{= en_name}}
                    {{/if}}
                {{/if}}
                 </p>
            </div>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/0246c88/book/bundle.js" defer="defer"></script>






  
  <div id="wrapper" class="book-content review-wrapper">
    

    
  <div id="content">
    
    <h1>豆瓣最受欢迎的书评</h1>

    <div class="grid-16-8 clearfix">
      
      
      <div class="article">
        
  
  <ul class="top-tab clearfix">
      
  
  <li class=" selected">    <a href="javascript:;">      <span>最受欢迎的</span>    </a>  </li>

      
  
  <li class="">    <a href="/review/latest?app_name=book">      <span>最新书评</span>    </a>  </li>

  </ul>
  



<div class="review-list chart ">
            
    
    <div data-cid="9593753">
        <div class="main review-item" id="9593753">
                <a class="subject-img" href="https://book.douban.com/subject/30245411/">                    <img alt="简·爱" title="简·爱" src="https://img3.doubanio.com/view/subject/m/public/s29797136.jpg" rel="v:image" />                </a>

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/3551583/" class="avator">
            <img width="24" height="24" src="https://img3.doubanio.com/icon/u3551583-154.jpg">
        </a>

        <a href="https://www.douban.com/people/3551583/" class="name">慕容复</a>

            <span class="allstar50 main-title-rating" title="力荐"></span>

        <span content="2018-08-15" class="main-meta">2018-08-15 13:18:36</span>


    </header>


            <div class="main-bd">

                <h2><a href="https://book.douban.com/review/9593753/">有些流行小说，一直流行到它们成了经典</a></h2>

                <div id="review_9593753_short" class="review-short" data-rid="9593753">
                    <div class="short-content">
                            <p class="spoiler-tip">这篇书评可能有关键情节透露</p>

                        在前一段时间，我看到好多友邻都在探讨国内外名著的“三观”问题，当我看到这一话题时，第一个反应就是《简·爱》这部小说肯定会中枪，点开相关的帖子和话题一看，《简·爱》的“三观”讨论果然名列前茅。 比如“绿茶女主套路渣男一般的高帅富男主”、“原配家属大闹小三和渣男...

                        &nbsp;(<a href="javascript:;" id="toggle-9593753-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_9593753_full" class="hidden">
                    <div id="review_9593753_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="9593753" title="有用">
                        <img src="https://img3.doubanio.com/f/zerkalo/536fd337139250b5fb3cf9e79cb65c6193f8b20b/pics/up.png" />
                        <span id="r-useful_count-9593753">
                                99
                        </span>
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="9593753" title="没用">
                        <img src="https://img3.doubanio.com/f/zerkalo/68849027911140623cf338c9845893c4566db851/pics/down.png" />
                        <span id="r-useless_count-9593753">
                                8
                        </span>
                    </a>
                    <a href="https://book.douban.com/review/9593753/#comments" class="reply ">17回应</a>

                    <a href="javascript:;;" class="fold hidden">收起</a>
                </div>
            </div>
        </div>
    </div>

            
    
    <div data-cid="9593425">
        <div class="main review-item" id="9593425">
                <a class="subject-img" href="https://book.douban.com/subject/27081364/">                    <img alt="原来你是这样的宋医生" title="原来你是这样的宋医生" src="https://img3.doubanio.com/view/subject/m/public/s29487134.jpg" rel="v:image" />                </a>

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/162338500/" class="avator">
            <img width="24" height="24" src="https://img3.doubanio.com/icon/u162338500-3.jpg">
        </a>

        <a href="https://www.douban.com/people/162338500/" class="name">蜂蜜柚子不加茶</a>

            <span class="allstar50 main-title-rating" title="力荐"></span>

        <span content="2018-08-15" class="main-meta">2018-08-15 10:41:36</span>


    </header>


            <div class="main-bd">

                <h2><a href="https://book.douban.com/review/9593425/">爱是天时地利的迷信</a></h2>

                <div id="review_9593425_short" class="review-short" data-rid="9593425">
                    <div class="short-content">
                            <p class="spoiler-tip">这篇书评可能有关键情节透露</p>

                        喜欢乍见之欢，是在阳光的午后穿的那件白衬衫，是操场上那个飞驰而过奔跑的身影，或者是窗帘掀起一角时那低头的温柔。相见之欢，一见钟情。是“这个妹妹我曾见过”，也是“襄阳城里生日的烟花”。 爱是久处不厌，是深夜回家时那盏昏黄的灯，是生病时那个忙碌的身影，也是午夜梦...

                        &nbsp;(<a href="javascript:;" id="toggle-9593425-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_9593425_full" class="hidden">
                    <div id="review_9593425_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="9593425" title="有用">
                        <img src="https://img3.doubanio.com/f/zerkalo/536fd337139250b5fb3cf9e79cb65c6193f8b20b/pics/up.png" />
                        <span id="r-useful_count-9593425">
                                51
                        </span>
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="9593425" title="没用">
                        <img src="https://img3.doubanio.com/f/zerkalo/68849027911140623cf338c9845893c4566db851/pics/down.png" />
                        <span id="r-useless_count-9593425">
                                8
                        </span>
                    </a>
                    <a href="https://book.douban.com/review/9593425/#comments" class="reply ">8回应</a>

                    <a href="javascript:;;" class="fold hidden">收起</a>
                </div>
            </div>
        </div>
    </div>

            
    
    <div data-cid="9593011">
        <div class="main review-item" id="9593011">
                <a class="subject-img" href="https://book.douban.com/subject/25933667/">                    <img alt="Everything I Never Told You" title="Everything I Never Told You" src="https://img3.doubanio.com/view/subject/m/public/s27345365.jpg" rel="v:image" />                </a>

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/65012122/" class="avator">
            <img width="24" height="24" src="https://img3.doubanio.com/icon/u65012122-3.jpg">
        </a>

        <a href="https://www.douban.com/people/65012122/" class="name">夏安</a>

            <span class="allstar30 main-title-rating" title="还行"></span>

        <span content="2018-08-15" class="main-meta">2018-08-15 01:40:43</span>


    </header>


            <div class="main-bd">

                <h2><a href="https://book.douban.com/review/9593011/">依然无可言说</a></h2>

                <div id="review_9593011_short" class="review-short" data-rid="9593011">
                    <div class="short-content">
                            <p class="spoiler-tip">这篇书评可能有关键情节透露</p>

                        很久很久以前，当我还在做科研的时候，曾经碰到过一个关于社会身份（social identities）的模型，非常有意思。这个模型说，当一种社会身份能够同时满足个人在群体里“出色”和“融入”的需求的时候，这种社会身份能够获得做大程度的认同（Brewer 1991）。说起来有点绕，借用视...

                        &nbsp;(<a href="javascript:;" id="toggle-9593011-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_9593011_full" class="hidden">
                    <div id="review_9593011_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="9593011" title="有用">
                        <img src="https://img3.doubanio.com/f/zerkalo/536fd337139250b5fb3cf9e79cb65c6193f8b20b/pics/up.png" />
                        <span id="r-useful_count-9593011">
                                30
                        </span>
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="9593011" title="没用">
                        <img src="https://img3.doubanio.com/f/zerkalo/68849027911140623cf338c9845893c4566db851/pics/down.png" />
                        <span id="r-useless_count-9593011">
                        </span>
                    </a>
                    <a href="https://book.douban.com/review/9593011/#comments" class="reply ">5回应</a>

                    <a href="javascript:;;" class="fold hidden">收起</a>
                </div>
            </div>
        </div>
    </div>

            
    
    <div data-cid="9594123">
        <div class="main review-item" id="9594123">
                <a class="subject-img" href="https://book.douban.com/subject/30275899/">                    <img alt="动物博物馆" title="动物博物馆" src="https://img3.doubanio.com/view/subject/m/public/s29820901.jpg" rel="v:image" />                </a>

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/132815572/" class="avator">
            <img width="24" height="24" src="https://img3.doubanio.com/icon/u132815572-6.jpg">
        </a>

        <a href="https://www.douban.com/people/132815572/" class="name">火残翼</a>

            <span class="allstar50 main-title-rating" title="力荐"></span>

        <span content="2018-08-15" class="main-meta">2018-08-15 16:03:52</span>


    </header>


            <div class="main-bd">

                <h2><a href="https://book.douban.com/review/9594123/">《动物博物馆》丨用这本书为孩子建立一个立体纵深的动物知识科学体系</a></h2>

                <div id="review_9594123_short" class="review-short" data-rid="9594123">
                    <div class="short-content">

                        《动物博物馆》是一本动物手绘科普大百科全书，这本书结构清晰严谨，涉及到的科学知识专业、丰富；收录的超过1500幅的动物手绘图鉴，逼真、生动而有灵气；最具特色的版块——“生存现状”，来自《国际自然及自然资源保护联盟（IUCN）红色物种名录》中的权威数据；书中的内容不...

                        &nbsp;(<a href="javascript:;" id="toggle-9594123-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_9594123_full" class="hidden">
                    <div id="review_9594123_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="9594123" title="有用">
                        <img src="https://img3.doubanio.com/f/zerkalo/536fd337139250b5fb3cf9e79cb65c6193f8b20b/pics/up.png" />
                        <span id="r-useful_count-9594123">
                                44
                        </span>
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="9594123" title="没用">
                        <img src="https://img3.doubanio.com/f/zerkalo/68849027911140623cf338c9845893c4566db851/pics/down.png" />
                        <span id="r-useless_count-9594123">
                                4
                        </span>
                    </a>
                    <a href="https://book.douban.com/review/9594123/#comments" class="reply ">1回应</a>

                    <a href="javascript:;;" class="fold hidden">收起</a>
                </div>
            </div>
        </div>
    </div>

            
    
    <div data-cid="9592369">
        <div class="main review-item" id="9592369">
                <a class="subject-img" href="https://book.douban.com/subject/30206819/">                    <img alt="会赚钱的妈妈" title="会赚钱的妈妈" src="https://img3.doubanio.com/view/subject/m/public/s29752394.jpg" rel="v:image" />                </a>

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/shiyu-word/" class="avator">
            <img width="24" height="24" src="https://img3.doubanio.com/icon/u139305272-16.jpg">
        </a>

        <a href="https://www.douban.com/people/shiyu-word/" class="name">时雨甜菓子</a>

            <span class="allstar40 main-title-rating" title="推荐"></span>

        <span content="2018-08-14" class="main-meta">2018-08-14 21:49:05</span>


    </header>


            <div class="main-bd">

                <h2><a href="https://book.douban.com/review/9592369/">“穷人”的五步创业经，手把手教你实现财务自由</a></h2>

                <div id="review_9592369_short" class="review-short" data-rid="9592369">
                    <div class="short-content">
                            <p class="spoiler-tip">这篇书评可能有关键情节透露</p>

                        焦虑，似乎已经成为了当下社会的一种普遍情绪，像浓雾一样在不同阶层弥漫开来。事业有成的60后、70后们，开始担心日后的养老问题；刚刚步入社会的90后们，正在为“月月光”的荷包发愁；最惨的是人到中年的80后，多数都开启了“上有老下有小”、“不敢病、不敢穷、不敢死”的生...

                        &nbsp;(<a href="javascript:;" id="toggle-9592369-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_9592369_full" class="hidden">
                    <div id="review_9592369_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="9592369" title="有用">
                        <img src="https://img3.doubanio.com/f/zerkalo/536fd337139250b5fb3cf9e79cb65c6193f8b20b/pics/up.png" />
                        <span id="r-useful_count-9592369">
                                92
                        </span>
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="9592369" title="没用">
                        <img src="https://img3.doubanio.com/f/zerkalo/68849027911140623cf338c9845893c4566db851/pics/down.png" />
                        <span id="r-useless_count-9592369">
                                1
                        </span>
                    </a>
                    <a href="https://book.douban.com/review/9592369/#comments" class="reply ">11回应</a>

                    <a href="javascript:;;" class="fold hidden">收起</a>
                </div>
            </div>
        </div>
    </div>

            
    
    <div data-cid="9591975">
        <div class="main review-item" id="9591975">
                <a class="subject-img" href="https://book.douban.com/subject/30177157/">                    <img alt="金子美铃全集" title="金子美铃全集" src="https://img3.doubanio.com/view/subject/m/public/s29815970.jpg" rel="v:image" />                </a>

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/48978500/" class="avator">
            <img width="24" height="24" src="https://img1.doubanio.com/icon/u48978500-7.jpg">
        </a>

        <a href="https://www.douban.com/people/48978500/" class="name">凉薄微</a>

            <span class="allstar50 main-title-rating" title="力荐"></span>

        <span content="2018-08-14" class="main-meta">2018-08-14 18:53:02</span>


    </header>


            <div class="main-bd">

                <h2><a href="https://book.douban.com/review/9591975/">难道以前我看了假的金子美铃？（新旧译本对照）</a></h2>

                <div id="review_9591975_short" class="review-short" data-rid="9591975">
                    <div class="short-content">

                        特别喜欢金子美铃，但一直以来只有若干选集出版，全集一直只有陕西师范大学那版阎先会的译本。那本书我曾经翻了又翻，算是我入坑金子美铃的启蒙吧。 直到后来我心痒难耐，入手日本JULA出版社的原版比对之后，顿时觉得我当年看的是不是假的金子美铃？？ 对照日文原文后我发现，...

                        &nbsp;(<a href="javascript:;" id="toggle-9591975-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_9591975_full" class="hidden">
                    <div id="review_9591975_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="9591975" title="有用">
                        <img src="https://img3.doubanio.com/f/zerkalo/536fd337139250b5fb3cf9e79cb65c6193f8b20b/pics/up.png" />
                        <span id="r-useful_count-9591975">
                                36
                        </span>
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="9591975" title="没用">
                        <img src="https://img3.doubanio.com/f/zerkalo/68849027911140623cf338c9845893c4566db851/pics/down.png" />
                        <span id="r-useless_count-9591975">
                                3
                        </span>
                    </a>
                    <a href="https://book.douban.com/review/9591975/#comments" class="reply ">6回应</a>

                    <a href="javascript:;;" class="fold hidden">收起</a>
                </div>
            </div>
        </div>
    </div>

            
    
    <div data-cid="9590836">
        <div class="main review-item" id="9590836">
                <a class="subject-img" href="https://book.douban.com/subject/27081364/">                    <img alt="原来你是这样的宋医生" title="原来你是这样的宋医生" src="https://img3.doubanio.com/view/subject/m/public/s29487134.jpg" rel="v:image" />                </a>

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/178434363/" class="avator">
            <img width="24" height="24" src="https://img1.doubanio.com/icon/u178434363-8.jpg">
        </a>

        <a href="https://www.douban.com/people/178434363/" class="name">山河依旧</a>

            <span class="allstar50 main-title-rating" title="力荐"></span>

        <span content="2018-08-14" class="main-meta">2018-08-14 10:44:52</span>


    </header>


            <div class="main-bd">

                <h2><a href="https://book.douban.com/review/9590836/">爱你的人不一定总是在远方</a></h2>

                <div id="review_9590836_short" class="review-short" data-rid="9590836">
                    <div class="short-content">
                            <p class="spoiler-tip">这篇书评可能有关键情节透露</p>

                        美好的事物，总是悄无声息。不经意间的一个误会，让相爱的人分离，不经意间的一个擦肩而过，让陌生的人相聚。 宋医生初遇晏长晴，并不美好，甚至有些狗血。一个目睹前女友的勾搭现场，一个目睹暗恋对象牵着闺蜜的直播。人生无处不狗血，戏剧冲突特别多。宋医生撞到了晏长晴，竟...

                        &nbsp;(<a href="javascript:;" id="toggle-9590836-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_9590836_full" class="hidden">
                    <div id="review_9590836_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="9590836" title="有用">
                        <img src="https://img3.doubanio.com/f/zerkalo/536fd337139250b5fb3cf9e79cb65c6193f8b20b/pics/up.png" />
                        <span id="r-useful_count-9590836">
                                67
                        </span>
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="9590836" title="没用">
                        <img src="https://img3.doubanio.com/f/zerkalo/68849027911140623cf338c9845893c4566db851/pics/down.png" />
                        <span id="r-useless_count-9590836">
                                1
                        </span>
                    </a>
                    <a href="https://book.douban.com/review/9590836/#comments" class="reply ">6回应</a>

                    <a href="javascript:;;" class="fold hidden">收起</a>
                </div>
            </div>
        </div>
    </div>

            
    
    <div data-cid="9590903">
        <div class="main review-item" id="9590903">
                <a class="subject-img" href="https://book.douban.com/subject/30166905/">                    <img alt="优质父母教养实践指南" title="优质父母教养实践指南" src="https://img3.doubanio.com/view/subject/m/public/s29991665.jpg" rel="v:image" />                </a>

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/172256992/" class="avator">
            <img width="24" height="24" src="https://img3.doubanio.com/icon/u172256992-1.jpg">
        </a>

        <a href="https://www.douban.com/people/172256992/" class="name">禾田飞歌</a>

            <span class="allstar40 main-title-rating" title="推荐"></span>

        <span content="2018-08-14" class="main-meta">2018-08-14 11:12:31</span>


    </header>


            <div class="main-bd">

                <h2><a href="https://book.douban.com/review/9590903/">正确教育孩子，你应该掌握这些技能</a></h2>

                <div id="review_9590903_short" class="review-short" data-rid="9590903">
                    <div class="short-content">
                            <p class="spoiler-tip">这篇书评可能有关键情节透露</p>

                        1、 日本作家伊坂幸太郎曾说过一句话：“一想到为人父母居然不用经过考试，就觉得真是太可怕了。” 是啊，尽管很可怕，但我们一代代的父母都是这样做的。父母们所得到的育儿经验，大多来自自己的父母，以及自己的本能。 父母在教育自己时掉过的坑，在自己做父母时也完美地掉进...

                        &nbsp;(<a href="javascript:;" id="toggle-9590903-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_9590903_full" class="hidden">
                    <div id="review_9590903_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="9590903" title="有用">
                        <img src="https://img3.doubanio.com/f/zerkalo/536fd337139250b5fb3cf9e79cb65c6193f8b20b/pics/up.png" />
                        <span id="r-useful_count-9590903">
                                27
                        </span>
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="9590903" title="没用">
                        <img src="https://img3.doubanio.com/f/zerkalo/68849027911140623cf338c9845893c4566db851/pics/down.png" />
                        <span id="r-useless_count-9590903">
                                1
                        </span>
                    </a>
                    <a href="https://book.douban.com/review/9590903/#comments" class="reply ">4回应</a>

                    <a href="javascript:;;" class="fold hidden">收起</a>
                </div>
            </div>
        </div>
    </div>

            
    
    <div data-cid="9591664">
        <div class="main review-item" id="9591664">
                <a class="subject-img" href="https://book.douban.com/subject/30281339/">                    <img alt="万物皆数" title="万物皆数" src="https://img3.doubanio.com/view/subject/m/public/s29917943.jpg" rel="v:image" />                </a>

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/petiteakira/" class="avator">
            <img width="24" height="24" src="https://img3.doubanio.com/icon/u45046701-40.jpg">
        </a>

        <a href="https://www.douban.com/people/petiteakira/" class="name">天才儿童小明</a>

            <span class="allstar50 main-title-rating" title="力荐"></span>

        <span content="2018-08-14" class="main-meta">2018-08-14 16:42:44</span>


    </header>


            <div class="main-bd">

                <h2><a href="https://book.douban.com/review/9591664/">【译者手记】数学的历史是一段奇妙的旅程</a></h2>

                <div id="review_9591664_short" class="review-short" data-rid="9591664">
                    <div class="short-content">

                        首发：联合低音公众号 首发标题： 你是喜欢数学的，只是之前没有读到这本书 十几年前，当我刚刚进入浙江大学数学系攻读学士学位的时候，我对数学有着诸多的、浪漫且不切实际的想象。 很多人对数学的印象是枯燥的、深奥的，如果你们对大学数学系的课程有所了解的话，就会发现，...

                        &nbsp;(<a href="javascript:;" id="toggle-9591664-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_9591664_full" class="hidden">
                    <div id="review_9591664_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="9591664" title="有用">
                        <img src="https://img3.doubanio.com/f/zerkalo/536fd337139250b5fb3cf9e79cb65c6193f8b20b/pics/up.png" />
                        <span id="r-useful_count-9591664">
                                60
                        </span>
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="9591664" title="没用">
                        <img src="https://img3.doubanio.com/f/zerkalo/68849027911140623cf338c9845893c4566db851/pics/down.png" />
                        <span id="r-useless_count-9591664">
                                1
                        </span>
                    </a>
                    <a href="https://book.douban.com/review/9591664/#comments" class="reply ">37回应</a>

                    <a href="javascript:;;" class="fold hidden">收起</a>
                </div>
            </div>
        </div>
    </div>

            
    
    <div data-cid="9589124">
        <div class="main review-item" id="9589124">
                <a class="subject-img" href="https://book.douban.com/subject/30154739/">                    <img alt="市场如何形成" title="市场如何形成" src="https://img3.doubanio.com/view/subject/m/public/s29757475.jpg" rel="v:image" />                </a>

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/weizhoushiwang/" class="avator">
            <img width="24" height="24" src="https://img1.doubanio.com/icon/u1679535-8.jpg">
        </a>

        <a href="https://www.douban.com/people/weizhoushiwang/" class="name">维舟</a>

            <span class="allstar40 main-title-rating" title="推荐"></span>

        <span content="2018-08-13" class="main-meta">2018-08-13 17:10:05</span>


    </header>


            <div class="main-bd">

                <h2><a href="https://book.douban.com/review/9589124/">中国有“市场”吗？</a></h2>

                <div id="review_9589124_short" class="review-short" data-rid="9589124">
                    <div class="short-content">

                        在近代欧美学者对中国的论述中，常有一些让人感到费解的论断，最著名的便是“中国无宗教”和“中国无城市”（韦伯语）。曾有国内学者撰文表达不满（显然也兼困惑），认为这简直是睁眼说瞎话，是西方人凭恃着帝国主义心态，无视中国宗教、城市存在的事实。然而，要说像韦伯这样...

                        &nbsp;(<a href="javascript:;" id="toggle-9589124-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_9589124_full" class="hidden">
                    <div id="review_9589124_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="9589124" title="有用">
                        <img src="https://img3.doubanio.com/f/zerkalo/536fd337139250b5fb3cf9e79cb65c6193f8b20b/pics/up.png" />
                        <span id="r-useful_count-9589124">
                                37
                        </span>
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="9589124" title="没用">
                        <img src="https://img3.doubanio.com/f/zerkalo/68849027911140623cf338c9845893c4566db851/pics/down.png" />
                        <span id="r-useless_count-9589124">
                                1
                        </span>
                    </a>
                    <a href="https://book.douban.com/review/9589124/#comments" class="reply ">5回应</a>

                    <a href="javascript:;;" class="fold hidden">收起</a>
                </div>
            </div>
        </div>
    </div>


    

    

    <script type="text/javascript" src="https://img3.doubanio.com/misc/mixed_static/6d08e875c741b0e0.js"></script>
    <!-- COLLECTED CSS -->
</div>








  
  
    
    

    
        <div class="paginator">
        <span class="prev">
            &lt;前页
        </span>
        
        

                <span class="thispage" data-total-page="3">1</span>
                
            <a href="/review/best?start=20" >2</a>
        
                
            <a href="/review/best?start=40" >3</a>
        
        <span class="next">
            <link rel="next" href="/review/best?start=20"/>
            <a href="/review/best?start=20" >后页&gt;</a>
        </span>

            <span class="count">(共50条)</span>
        </div>



      </div>
      <div class="aside">
        
  <!-- douban ad begin -->
  <div id="dale_review_best_top_right"></div>
  <!-- douban ad end -->

  




  <div class="sidebar-info-wrapper">
    <div class="sidebar-copy">
      




  <p>如果你觉得一篇评论对你有帮助，请你点击“有用”。你的投票直接决定哪些评论出现在豆瓣首页和“豆瓣最受欢迎的评论”里，以及在书、电影和音乐介绍页里评论的排序。</p>
  <p>所有“没用”的点击都是匿名的。</p>

    </div>



  </div>

  
    
  
  
<p class="pl">
  <span class="feed">    <a href="/feed/review/book">订阅豆瓣最受欢迎的书评</a>  </span>
</p>







      </div>
      <div class="extra">
        
    <!-- douban ad begin -->
    <div id="dale_movie_review_best_bottom_banner"></div>
    <!-- douban ad end -->

      </div>
    </div>
  </div>

    
  <div id="footer">
      <div class="footer-extra"></div>
    
<span id="icp" class="fleft gray-link">
    &copy; 2005－2019 douban.com, all rights reserved 北京豆网科技有限公司
</span>

<a href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;"></a>

<span class="fright">
    <a href="https://www.douban.com/about">关于豆瓣</a>
    · <a href="https://www.douban.com/jobs">在豆瓣工作</a>
    · <a href="https://www.douban.com/about?topic=contactus">联系我们</a>
    · <a href="https://www.douban.com/about?policy=disclaimer">免责声明</a>
    
    · <a href="https://help.douban.com/?app=book" target="_blank">帮助中心</a>
    · <a href="https://book.douban.com/library_invitation">图书馆合作</a>
    · <a href="https://www.douban.com/doubanapp/">移动应用</a>
    · <a href="https://www.douban.com/partner/">豆瓣广告</a>
</span>

  </div>

  </div>
    
  
  
  

  
  

  




  
    

  <!-- COLLECTED JS -->
  
  <!-- douban ad begin -->
  
  




    
<script type="text/javascript">
    (function (global) {
        var newNode = global.document.createElement('script'),
            existingNode = global.document.getElementsByTagName('script')[0],
            adSource = '//erebor.douban.com/',
            userId = '',
            browserId = 'xB_IUxL152M',
            criteria = '3:/review/best/',
            preview = '',
            debug = false,
            adSlots = ['dale_review_best_top_right', 'dale_book_review_best_bottom_banner'];

        global.DoubanAdRequest = {src: adSource, uid: userId, bid: browserId, crtr: criteria, prv: preview, debug: debug};
        global.DoubanAdSlots = (global.DoubanAdSlots || []).concat(adSlots);

        newNode.setAttribute('type', 'text/javascript');
        newNode.setAttribute('src', 'https://img3.doubanio.com/f/adjs/de707ab86f93a1baf57ce34ba69c5248a96144fb/ad.release.js');
        newNode.setAttribute('async', true);
        existingNode.parentNode.insertBefore(newNode, existingNode);
    })(this);
</script>










  <!-- douban ad end -->

  
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '0', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








  <!-- brand31-docker-->

  <script>_SPLITTEST=''</script>
</body>

</html>


